.toggleDiv {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        width: 35px;
        height: 35px;
        background-size: cover;
        cursor: pointer;
    }

    .span-Light {
        background-image: url('../../assets/icons/lightmode.png');
    }

    .span-Dark {
        background-image: url('../../assets/icons/darkmode.png');
    }
}

@media screen and (max-width: 425px){
    .toggleDiv{
        width: 32px;
        height: 32px;

        span {
            width: 30px;
            height: 30px;
        }
    }
}