.sunDetails-light {
    background-color: white;
    color: black;
    height: 280px;
    width: 420px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .head {
        display: flex;
        justify-content: space-between;

        .headingText {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .mid{
        display: flex;
        flex-direction: column;
        gap: 15px;

        .sunTimeCard{
            background-color: rgba(191, 214, 76, 0.502);
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 20px;
            padding: 10px;

            .location {
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 5px;
        
                img {
                    width: 24px;
                    height: 22px;
                }
        
                .cityname {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .sunInfoBox{
                display: flex;
                justify-content: space-between;

                .detailBox{
                    width: 50%;
                    display: flex;

                    .Image{
                        width: 90px;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .Details{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        flex: 50%;
                        padding: 10px;
                        margin-left: 20px;

                        .Heading{
                            font-size: 20px;
                            font-weight: 600;
                        }

                        .Timing{
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .sunIllus{
            height: 100px;
            width: 100%;
            background-image: url('../../assets/images/sunillus.jpg');
            background-size: cover;
            border-radius: 20px;
        }
    }
}

.sunDetails-dark{ 
    background-color: #1b1b1b;
    color: white;

    #sntmcrd{
        color: white;

        #lctn{
            filter: invert(1);
        }
    }
}

@media screen and (max-width: 1360px) {
        
    #sndtlbx{
        width: auto;
        height: min-content;
    }

    #sntmcrd{
        height: 120px;
    }
}


@media screen and (max-width: 580px){
    #sndtlbx{
        width: auto;
        height: max-content;
    }

    #sndtlhead{
        font-size: 16px;
    }

    #ctnme{
        font-size: 16px;
    }

    #snimg{
        width: 60px;
        height: 60px;
    }

    #snhead{
        font-size: 16px;
    }

    #sntme{
        font-size: 12px;
    }

}

@media screen and (max-width: 425px){
    #sndtlbx{
        width: auto;
        height: min-content;
    }

    #sndtlhead{
        font-size: 16px;
    }

    #ctnme{
        font-size: 14px;
    }

    #snimg{
        width: 40px;
        height: 40px;
    }

    #snhead{
        font-size: 14px;
    }

    #sntme{
        font-size: 10px;
    }
}