.sunDetails-light {
    background-color: white;
    color: black;
    height: 280px;
    width: 420px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .head {
        display: flex;
        justify-content: space-between;

        .headingText {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .mid{
        display: flex;
        flex-direction: column;
        gap: 15px;

        .sunTimeCard{
            background-color: rgba(191, 214, 76, 0.502);
            height: 100px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 20px;
            padding: 10px;

            .cityName{
                font-weight: 500;
                margin-left: 4px;
            }

            .sunInfoBox{
                display: flex;

                .detailBox{
                    flex: 50%;
                    display: flex;

                    .Image{
                        flex: 40%;
                        display: grid;
                        align-items: center;
                        justify-content: center;
                    }

                    .Details{
                        flex: 60%;
                        padding: 10px;
                        margin-left: 20px;

                        .Heading{
                            font-size: 20px;
                            font-weight: 600;
                        }

                        .Timing{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

.sunDetails-dark{
    background-color: #1b1b1b;
    color: white;

    #sntmcrd{
        color: white;
    }
}

@media screen and (max-width: 1360px) {
        
    #sndtlbx{
        width: auto;
        height: min-content;
    }
}


@media screen and (max-width: 580px){
    #sndtlbx{
        width: auto;
        height: min-content;
    }

    #sntmcrd{
        height: min-content;
    }

    #sndtlhead{
        font-size: 16px;
    }

    #ctnme{
        font-size: 16px;
    }

    #snimg{
        width: 60px;
        height: 60px;
    }

    #snhead{
        font-size: 16px;
    }

    #sntme{
        font-size: 12px;
    }

}

@media screen and (max-width: 425px){
    #sndtlbx{
        width: auto;
        height: min-content;
    }

    #sndtlhead{
        font-size: 16px;
    }

    #ctnme{
        font-size: 14px;
    }

    #snimg{
        width: 40px;
        height: 40px;
    }

    #snhead{
        font-size: 14px;
    }

    #sntme{
        font-size: 10px;
    }
}