.weatherPhoneCard-light {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

    .cardHead {

        .location {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            img {
                width: 24px;
                height: 22px;
            }

            .cityname {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    .cardbody {
        display: flex;
        flex-direction: column;

        .cardMid {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .imgdate{
                display: flex;
                flex-direction: column;
                .image {
                    display: grid;
                    align-items: center;
                    justify-content: center;
                }
    
                .dateToday {
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .tempremark{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .temp {
                    font-size: 60px;
                    font-weight: bold;
                }
    
                .remarks {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            
        }

        .cardFoot {
            padding: 0 10px;

            .extraDetails {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 35px;

                label {
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}

.weatherPhoneCard-dark {
    background-color: #1b1b1b;
    color: white;

    #lctn {
        filter: invert(1);
    }
}

@media screen and (max-width: 1360px) {
    #wthrcrd{
        width: 100%;
        height: fit-content;
    }

    #lctnmain {
        justify-content: left;
    }

    #crdbdy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:20px;

        #crdmid{
            flex: 40%;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;

            #imgdt{
                flex-direction: column;
            }

            #rmrks{
                width: 100%;
                text-align: left;
            }
        }

        #crdft{
            flex: 20%;
        }
    }
}

@media screen and (max-width: 760px){
    #crdbdy{

        #crdmid{

            #imgdt{
                #dtdy{
                    font-size: 16px;
                }
            }

            #tmprmrk{
                #tmptdy{
                    font-size: 6vw;
                }
            }
        }

        #crdft{
            flex: 30%;
        }
    }
}

@media screen and (max-width: 580px) {

    #crdbdy{
        flex-direction: column;
        gap: 20px;

        #crdmid{
            flex-direction: column;

            #rmrks{
                width: 100%;
                text-align: center;
            }
        }
    }

    #wthrcrd {
        width: 100%;
    }

    #lctn {
        width: 20px;
        height: 18px;
    }

    #ctnme {
        font-size: 16px;
    }

    #wthrimg {
        width: 80px;
        height: 80px;
    }

    #dtdy {
        font-size: 16px;
    }

    #tmptdy {
        font-size: 36px;
    }

    #rmrks {
        font-size: 16px;
    }

    #extrdtls {
        label {
            font-size: 16px;
        }
    }

}

@media screen and (max-width: 425px) {
    #wthrcrd {
        width: 100%;
    }

    #lctn {
        width: 18px;
        height: 16px;
    }

    #ctnme {
        font-size: 14px;
    }

    #wthrimg {
        width: 80px;
        height: 80px;
    }

    #dtdy {
        font-size: 14px;
    }

    #tmptdy {
        font-size: 32px;
    }

    #rmrks {
        font-size: 14px;
    }

    #extrdtls {

        label,
        p {
            font-size: 14px;
        }

    }

}