$primaryfont : 'system-ui';
$bgcolor: #ffffff;
$primecolor: #161616;
$secondcolor: #ff5100;

// header section styling

.headerContainer-light {
    display: flex;
    height: 50px;
    gap: 20px;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 20px;

    .header {
        flex: 100%;
        display: flex;
        justify-content: space-between;
        background-color: whitesmoke;
        padding: 0 10px;
        gap: 20px;
        border-radius: 8px;

        .logoSection {
            display: flex;
            align-items: center;
            gap: 20px;

            .logo {
                display: grid;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .appName {
                display: grid;
                align-items: center;
                justify-content: center;
                font-family: system-ui;
                font-size: 25px;
                font-weight: 600;
            }
        }

        .headerRight {
            display: flex;
            gap: 20px;

            .locationSelector {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                z-index: +5;

                .selectDropdown {
                    display: flex;
                    padding: 10px;
                    border-radius: 8px;
                    align-items: center;
                    justify-content: space-between;
                    width: 190px;
                    margin-top: 4px;
                    background-color: white;
                    cursor: pointer;

                    .defaultCityName {
                        font-weight: 500;
                    }

                    .arrowDownIcon {
                        width: 5px;
                        height: 5px;
                        border-right: 2px solid black;
                        border-bottom: 2px solid black;
                        transform: rotate(45deg);
                    }

                    .arrowDownIcon-up {
                        transform: rotate(225deg);
                    }
                }

                .citiesList {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border-radius: 8px;
                    width: 174px;
                    height: 400px;
                    margin-top: -20px;

                    .citiesScrollBox {
                        overflow-y: auto;
                        scroll-behavior: smooth;

                        .options {
                            margin-top: 0;

                            option {
                                margin-left: -40px;
                                margin-bottom: -20px;
                                padding: 6px;
                                border-radius: 8px;
                                font-weight: 400;
                                cursor: pointer;
                            }

                            option:hover {
                                background-color: #e5e5e5;
                            }
                        }
                    }

                    .citiesScrollBox::-webkit-scrollbar {
                        width: 0;
                    }
                }

                .citiesList.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(20px);
                    transition: 0.2s ease-in-out;
                }

                .citiesList.inactive {
                    visibility: hidden;
                    transform: translateY(-20px);
                    transform: 0.2s ease-in;
                }
            }

            .modeToggleBox {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }


    }
}

.headerContainer-dark {
    display: flex;
    height: 50px;
    gap: 20px;
    justify-content: space-between;
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 20px;

    .header {
        flex: 85%;
        display: flex;
        align-items: left;
        justify-content: space-between;
        background-color: #2f2f2f;
        padding: 0 10px;
        gap: 20px;
        border-radius: 8px;

        .logoSection {
            display: flex;
            align-items: center;
            gap: 20px;

            .logo {
                display: grid;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .appName {
                display: grid;
                align-items: center;
                justify-content: center;
                font-family: system-ui;
                font-size: 25px;
                font-weight: 600;
            }
        }

        .headerRight {
            display: flex;
            gap: 20px;

            .locationSelector {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                z-index: +1;

                .selectDropdown {
                    display: flex;
                    padding: 10px;
                    border-radius: 8px;
                    align-items: center;
                    justify-content: center;
                    gap: 60px;
                    width: 190px;
                    margin-top: 4px;
                    background-color: #1b1b1b;
                    cursor: pointer;

                    .defaultCityName {
                        font-weight: 500;
                    }

                    .arrowDownIcon {
                        width: 5px;
                        height: 5px;
                        border-right: 2px solid white;
                        border-bottom: 2px solid white;
                        transform: rotate(45deg);
                    }

                    .arrowDownIcon-up {
                        transform: rotate(225deg);
                    }
                }

                .citiesList {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    background-color: #1b1b1b;
                    border-radius: 8px;
                    width: 174px;
                    height: 400px;
                    margin-top: -20px;

                    .citiesScrollBox {
                        overflow-y: auto;
                        scroll-behavior: smooth;

                        .options {
                            margin-top: 0;

                            option {
                                margin-left: -40px;
                                margin-bottom: -20px;
                                padding: 8px;
                                border-radius: 8px;
                                font-weight: 400;
                                cursor: pointer;
                            }

                            option:hover {
                                background-color: #2f2f2f;
                            }
                        }
                    }

                    .citiesScrollBox::-webkit-scrollbar {
                        width: 0;
                    }
                }

                .citiesList.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(20px);
                    transition: 0.2s ease-in-out;
                }

                .citiesList.inactive {
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(-20px);
                    transform: 0.2s ease-in;
                }

            }

            .modeToggleBox { 
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


@media screen and (max-width: 1200px) {

    #hdr {
        gap: 10px;
        width: 60%;
    }

    #applgo {
        width: 30px;
        height: 30px;
    }


    #appNm {
        font-size: 14px;
    }

    #slctDrpdn {
        margin-top: 6px;
        padding: 10px;
        font-size: 12px;
    }

    #optn {
        font-size: 14px;
    }
}


@media screen and (max-width: 510px) {
    #hdrght{
        gap: 10px;
        justify-content: space-between;
    }

    #slctDrpdn {
        width: 120px;
        gap: 10px;
    }

    #ctylst {
        width: 100px;
    }

    #optn {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    #hdrght{
        gap: 4px;
        justify-content: space-between;
    }

    #slctDrpdn {
        width: 100px;
        gap: 10px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 390px){

    #lctnslct{
        width: 100px;
    }
    #hdrght{
        margin-top: 2px;
        gap: 0;
        width: 140px;
    }

    #slctDrpdn {
        width: 80px;
        font-size: 11px;
    }
}