$primaryfont : 'system-ui';

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $primaryfont;

    .app{
        background-color: #ECF9FC;
        color: #161616;
        min-height: 100vh;
        display: grid;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-size: 4vw;
    }

}