.airQualityIndex-light {
    width: 420px;
    height: 280px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .head {
        display: flex;
        justify-content: space-between;

        .headingText {
            font-size: 20px;
            font-weight: 500;
        }

        .location {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            img {
                width: 24px;
                height: 22px;
            }

            .cityname {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .mid {
        display: flex;
        flex-direction: column;

        .midtop {
            display: flex;
            flex-direction: row;
            .midleft {
                flex: 70%;
                display: flex;
                gap: 10px;

                .midIcon {

                    img {
                        width: 100px;
                        height: 100px;
                    }
                }

                .midQualityText {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 5px;

                    .qualityHead {
                        font-size: 24px;
                        font-weight: 500;
                    }

                    .qualityQuote {
                        font-size: 14px;
                    }
                }
            }

            .midright {
                flex: 30%;
                display: grid;
                align-items: center;
                justify-content: right;

                .aqiDetails {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    background-color: rgba(191, 214, 76, 0.502);
                    padding: 6px 14px;
                    border-radius: 8px;
                    width: 80px;
                    height: 40px;
                    font-size: 16px;
                    font-weight: 650;
                    font-family: system-ui;
                    cursor: pointer;
                }
            }
        }

        .foot {
            display: flex;
            gap: 20px;

            .gasIndexBox {
                background-color: rgba(191, 214, 76, 0.502);
                width: 80px;
                height: 110px;
                padding: 10px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 15px;
                color: #819328;

                .quantity {
                    text-align: center;
                    font-size: 22px;
                    font-weight: 500;
                }
            }
        }
    }
}

.airQualityIndex-dark {
    background-color: #1b1b1b;
    color: white;

    #refBtn {
        color: white;
    }

    #lctn {
        filter: invert(1);
    }

    #gsIndBx {
        color: white;
    }
}



@media screen and (max-width: 1360px) {
    #arqltybx{
        width: auto;
    }
    
    #aqmid{
        flex-direction: column;
        justify-content: space-between;

        .midIcon{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    #aqmidtop{
        width: auto;
    }

    #aqfoot {
        justify-content: space-between;
    }
}

@media screen and (max-width: 580px){
    #aqidtlbx{
        font-size: 14px;
    }

    #aqheadtxt{
        font-size: 16px;
    }

    #ctnme{
        font-size: 16px;
    }

    #aqimidicon{
        img {
            width: 80px;
            height: 80px;
        }
    }

    #aqiqltytxt{
        gap: 0px;
        .qualityHead {
            font-size: 20px;
        }

        .qualityQuote {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 425px){

    #aqidtlbx{
        width: 46px;
        height: 32px;
        font-size: 12px;
    }

    #gsIndBx{
        .quantity{
            font-size: 14px;
        }

        .gasName{
            font-size: 12px;
        }
    }

    #qltqte{
    }
}