.airQualityIndex-light {
    background-color: white;
    color: black;
    width: 460px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .head {
        display: flex;
        justify-content: space-between;

        .headingText {
            font-size: 20px;
            font-weight: 500;
        }

        .location{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            img{
                width: 24px;
                height: 22px;
            }

            .cityname{
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .mid {
        display: flex;

        .midleft {
            flex: 70%;
            display: flex;
            gap: 10px;

            .midIcon {

                img {
                    width: 100px;
                    height: 100px;
                }
            }

            .midQualityText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;

                .qualityHead {
                    font-size: 24px;
                    font-weight: 500;
                }

                .qualityQuote {
                    font-size: 14px;
                }
            }
        }

        .midright {
            flex: 30%;
            display: grid;
            align-items: center;
            justify-content: right;

            .aqiDetails {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: rgba(255, 63, 63, 0.505);
                color: red;
                padding: 6px 14px;
                border-radius: 8px;
                width: 80px;
                height: 40px;
                font-size: 14px;
                font-weight: 650;
                font-family: system-ui;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    .foot {
        display: flex;
        gap: 20px;

        .gasIndexBox {
            background-color: rgba(63, 63, 255, 0.272);
            width: 80px;
            height: 110px;
            padding: 10px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            color: blue;

            .quantity{
                text-align: center;
                font-size: 22px;
                font-weight: 500;
            }
        }
    }
}

.airQualityIndex-dark {
    background-color: #1b1b1b;
    color: white;

    #refBtn {
        color: white;
    }

    #lctn{
        filter: invert(1);
    }

    #gsIndBx{
        color: white;
    }
}

@media screen and (max-width: 580px){
    #arqltybx{
        width: 100%;

        .headingText{
            font-size: 16px;
        }

        .location{

            img{
                width: 20px;
                height: 18px;
            }

            .cityname{
                font-size: 16px;
                font-weight: 500;
            }
        }

        .mid {
    
            .midleft {
    
                .midIcon {

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
    
                .midQualityText {
    
                    .qualityHead {
                        font-size: 20px;
                    }
    
                    .qualityQuote {
                        font-size: 12px;
                    }
                }
            }

            .midright {
    
                .aqiDetails {
                    width: 60px;
                    height: 25px;
                    font-size: 16px;
                }
            }
        }

        .foot {
            justify-content: space-between;
    
            .gasIndexBox {
                width: 70px;
                height: 80px;
    
                .quantity{
                    text-align: center;
                    font-size: 18px;
                    font-weight: 500;
                }

                .gasName{
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    #arqltybx {
        .foot {
            justify-content: space-between;

            .gasIndexBox {
                width: 50px;
                height: 80px;

                .quantity {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                }

                .gasName {
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px){
    #arqltybx{
        .mid {
            justify-content: space-between;
    
            .midleft {
    
                .midIcon {

                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
    
                .midQualityText {
    
                    .qualityHead {
                        font-size: 16px;
                    }
    
                    .qualityQuote {
                        font-size: 10px;
                    }
                }
            }

            .midright {
    
                .aqiDetails {
                    width: 50px;
                    height: 25px;
                    font-size: 16px;
                }
            }
        }

        .foot {
            justify-content: space-between;

            .gasIndexBox {
                width: 35px;
                height: 60px;
                border-radius: 16px;

                .quantity {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                }

                .gasName {
                    font-size: 10px;
                }
            }
        }
    }
}